
.messageBox {
  width: 60vw; /*optional*/
  max-width: 500px;
  height: 60vh;
  margin: 20vh auto;
  background-color: #272B30;
  padding: 10px 30px;
  color: #f5f5f5;
}

pre {
  white-space: pre-wrap;
}