body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* The image used */
    background-image: url("assets/room.png");

    /* Full height */
    height: 100%;
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
/* abc
def
*/
    /* added something*/
    /*hide unwanted white space at the bottom of the page*/
    overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:768px){
  body {
    background-image: url("assets/room-mobile.png");
  }
}